.imageul {
    display: flex;
}

.imageli {
    list-style-type: none;
    padding: 10px;
    position: relative;
}

.large {
    position: absolute;
    left: -9999px;
}

li:hover .large{
    left: 0px;
    top: -75px;
}

.small-image{
    width: 35%;
}
.large-image{
    border-radius: 4px;
    box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);
    width: 60%;
}