#weatherToday{
    border-radius: 50%;
    height: 15%;
    width: 15%;
}
#weatherWindToday{
    border-radius: 0%;
    height: 3%;
    width: 3%;
    float: none;
}
#wind{
    display: inline-block;
}
#development{
    text-align: center;
    color: red;
}
#cityList{
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.weatherHeader{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.weatherBody{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1%;
    display: -webkit-box;
}
.searchContainer{
    text-align: center;
    display: block;
    position: relative;
}
.autocomplete{
    align-items: center;
    position: relative;
    display: inline-block;
}
.autocomplete li{
    border:1px solid grey;
    list-style-type: none;
    width: 100%;
}
.autocomplete li:hover{
    background-color: #e9e9e9; 
}
input,button{
    border: 1px solid grey;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
img{ 
    float: left;
    height: 100%;
    padding: 3px;
}
button{
    color: white;
}
